<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU7XHTNjgdlP6oXy6Vt7n9kIcWMqeQPZA</string>
	<key>GCM_SENDER_ID</key>
	<string>121269795957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>find-cabs</string>
	<key>STORAGE_BUCKET</key>
	<string>find-cabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121269795957:ios:38f4b09abcd783f6b00c3c</string>
	<key>DATABASE_URL</key>
	<string>https://find-cabs-default-rtdb.firebaseio.com</string>
</dict>
</plist>